.frame {
  background-color: #fff;
  border-image: url("./frame.png") 12 round repeat;
  border-image-width: 12px;
  border-width: 12px;
  image-rendering: crisp-edges;
}

/*

.background > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.background > [x-region="tl"] {
  background-image: url("./tl.png");
  background-position: top left;
  top: 0;
  left: 0;
}
.background > [x-region="tt"] {
  background-image: url("./tt.png");
  background-position: top center;
}
.background > [x-region="tr"] {
  background-image: url("./tr.png");
}
.background > [x-region="ml"] {
  background-image: url("./ml.png");
}
.background > [x-region="mr"] {
  background-image: url("./mr.png");
}
.background > [x-region="bl"] {
  background-image: url("./bl.png");
}
.background > [x-region="bl"] {
  background-image: url("./bl.png");
}
.background > [x-region="br"] {
  background-image: url("./br.png");
}
*/
