.container {
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExURTIyMkBAQJspR/AAAAAUSURBVBjTY/gPBgcYIMBhlB5YGgCnYhL7qWNBvwAAAABJRU5ErkJggg==);*/
  /*background-repeat: repeat;*/
  animation: moveGrid 20s linear infinite alternate;
}

@keyframes moveGrid {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 5% 5%;
  }
  50% {
    background-position: 10% 5%;
  }
  75% {
    background-position: 5% 10%;
  }
}
