@import url("./Assets/Fonts/Inter/style.css");
@import "tailwindcss";
@config "../tailwind.config.js";

html,
body {
  margin: 0;
  color: #333;
}

/* For Chrome, Safari, and newer Edge versions (Webkit-based browsers) */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* For Firefox */
* {
  scrollbar-width: none; /* Hides the scrollbar */
  -ms-overflow-style: none; /* For older Internet Explorer and Edge */
}

/* https://stackoverflow.com/a/45050338 */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

* {
  user-select: none;
  outline: none;
}
