.trilha_card {
  background: var(--card-bg);
  background-size: cover;
  position: relative;
}

.trilha_card::before {
  background: linear-gradient(to bottom, #000000ff 0%, #00000000 20%, #000000ff 100%);
  opacity: 0.5;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* hack so the content is above the gradient overlay */
.trilha_card > * {
  z-index: 1;
}
